# TESTNET ONLY — jangan pakai private key mainnet
PRIVATE_KEY=91026f7c3071062a47e76a99fc3b69a6bb7f6244c2f54efafbe46853128e9234
BSC_TESTNET_RPC=https://bsc-testnet-rpc.publicnode.com
BSCSCAN_API_KEY=1YD1U6ZEGKCG7ECA28HYA24BUPMQXDC5QS
